<div class="user-details">
  <h1>자기소개서</h1>
  <p>이름 : 임명철</p>
  <p>학번 : 2016108281</p>
  <p>학과 : 컴퓨터공학과</p>
  
  <h1> 학력 </h1>
  <p> 남광초등학교 졸업</p>
  <p> 제주제일중학교 졸업</p>
  <p> 대기고등학교 졸업</p>
  <p> 제주대학교 재학</p>
  
  <h1>사용 언어</h1>
  <p>C++ </p>
  <p>C#</p>
  
  <h1> 취미 </h1>
  <p> 운동 , 게임</p>
  
  <h1> 목표 </h1>
  <p> 졸업 전 C++, C#을 이용하여 게임을 만든다.</p>
  
  <h1> Fork </h1>
  <p> C++</p>
  <p> 평소 게임을 하는 것을 좋아해서 게임에 관심이 많았었는데 이번 기회에 C++을 이용하여 게임을 만드는 방법을 알 수 있게되어 선정하였습니다.</p>
  <p> 주소 : https://github.com/gameplay3d/gameplay </p>
  
  <p> C# </p>
  <p> C#을 이용하여 만들어진 모노게임을 통하여 C#을 이용해서도 게임을 만들 수 있다는 것을 보게되서 선정하였습니다.</p>
  <p> 주소 : https://github.com/MonoGame/MonoGame</p>
  
  
