<footer class="footer">
    <!-- <p>&copy; {{ site.username }}</p> -->
    <p>임명철 <span class="love">❤</span> 구수정 <a href="https://github.com/murraco"></a></p>
    <p>P.N : 01072825450</p>
    <p>e-mail : wpfls6670@naver.com </p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
